*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log
_packages.txt

application_build_helper_input.txt
application_build_helper_output.txt
matter_output.txt

.DS_Store
